{% extends "layouts/base.html" %}
{% block title %} Search Results {% endblock title %}

{% block content %}
<h2 style="text-align:center; margin-bottom:30px; font-size:32px;">
    Search Results
</h2>

{% if books %}
<table style="
    width:65%;
    margin:auto;
    border-collapse:collapse;
    font-size:20px;            /* ← يكبّر الخط */
    ">
    
    <tr style="background:#003366; color:white;">
        <th style="padding:18px; border:2px solid #333; font-size:26px;">ID</th>
        <th style="padding:18px; border:2px solid #333; font-size:26px;">Title</th>
        <th style="padding:18px; border:2px solid #333; font-size:26px;">Author</th>
    </tr>

    {% for b in books %}
    <tr style="background:#f7f7f7;">
        <td style="padding:16px; border:2px solid #333;">{{ b.id }}</td>
        <td style="padding:16px; border:2px solid #333;">{{ b.title }}</td>
        <td style="padding:16px; border:2px solid #333;">{{ b.author }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p style="text-align:center; font-size:22px; margin-top:20px;">
    No books found.
</p>
{% endif %}
{% endblock content %}
