{% extends "layouts/base.html" %}
{% load static %}

{% block title %} HTML5 Links {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<h1 class="lab-title">HTML5 Links</h1>

<a class="lab-link lab-link-1" href="https://www.qu.edu.sa" target="_blank">
  Go to QU website (open a new tab)
</a>

<a class="lab-link lab-link-2" href="https://www.qu.edu.sa">
  Go to QU website (open in the same page/tab)
</a>

<a class="lab-link lab-link-3" href="https://www.qu.edu.sa">
  Go to QU website (open in the same page/tab)
</a>

{% endblock content %}
