{% extends "layouts/base.html" %}
{% load static %}

{% block title %} My First Index HTML Page {% endblock title %}

{% block content %}

<!-- Main Heading -->
<h1 style="color: blue;">Welcome to the Library</h1>

<!-- Intro Paragraph -->
<p style="color: white; background-color: black; padding: 10px;">
  Explore our collection of programming books and learn more about us!
</p>

<!-- External Link -->
<a href="https://www.w3schools.com/html/default.asp" target="_blank">
  Learn more about HTML
</a>

<hr>

<!-- Section 1 -->
<h2>What can you do here?</h2>
<p>
  • Browse our programming books<br>
  • Learn more about the library<br>
  • View details about each book
</p>

<hr>

<!-- Section 2 -->
<h2>Featured Book</h2>
<p>Check out one of our popular books below:</p>

<img src="{% static 'book1.jpg' %}" width="200" style="border-radius: 10px;">
<p>Internet & World Wide Web – How to Program</p>

{% endblock content %}
